config pymultimonaprs
        option disabled '1'
        option callsign 'BB7IS-1'
        option passcode '32332232'
        list gateway '202.141.176.2:14580'
        list gateway 'noam.aprs2.net:14580'
        option preferred_protocol 'Any'
        option append_callsign '1'
        option source 'rtl'
        option freq '144.640000'
        option ppm '0'
        option offset_tuning '0'
        option device_index '0'
        option squelch_level '1'
        option gain '0'
        option alsa_device 'default'
        option table 'R'
        option symbol '&'
        option weather '0'
        option send_every '300'
        option ambiguity '3'
        option lat '23.0000'
        option lng '113.0000'
        option text 'Running on Openwrt with RTL dongle'
        option file '0'
        option comment 'PyMultimonAPRS iGate'
        option debug '1'
        option logging '/tmp/aprs.log'
